@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lalezar&display=swap');

/*** COLORS ***/
$color: cornflowerblue;
$dark: #262228;
$blue: #0375b4;

/*** FONTS ***/
$montserrat-med: 'Montserrat', sans-serif;
$work-sans: 'Work Sans', sans-serif;
$lalezar: 'Lalezar', sans-serif;
