@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lalezar&display=swap');

/*** COLORS ***/
$dark: #262228;
$blue: #0375b4;

/*** FONTS ***/
$montserrat-med: 'Montserrat', sans-serif;
$work-sans: 'Work Sans', sans-serif;
$lalezar: 'Lalezar', sans-serif;

/*** MEDIA QUERIES ***/
$desktop: 992px;
$tablet: 768px;
$mobile: 576px;

@mixin desktop {
  @media (max-width: #{$desktop}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$tablet}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$mobile}) {
    @content;
  }
}
