@import 'normalize';
@import 'variables';

html {
  scroll-behavior: smooth;
  font-size: 10px;
}

h1,
h2,
h3,
h4 {
  font-family: $lalezar;
}

p {
  font-size: 3rem;
  font-family: $montserrat-med;
}

a {
  text-decoration: none;
}
