@import '../styles/variables';

.hero {
  position: relative;
  background: url('../assets/hero-bg.jpg') 50% 50% no-repeat fixed;
  background-size: cover;
  width: 100%;
  height: calc(100vh - 63px);

  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
  }
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  h1 {
    margin: 0;
    font-size: 9rem;
    font-family: $lalezar;
    text-align: center;
    color: #fff;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    text-shadow: 4px 6px 2px rgba(0, 0, 0, 0.6);
  }

  h2 {
    margin: 0;
    font-size: 4.5rem;
    font-family: $lalezar;
    text-align: center;
    font-weight: normal;
    color: #fff;
    text-shadow: 4px 6px 2px rgba(0, 0, 0, 0.6);
  }

  p {
    font-size: 3rem;
    font-family: $lalezar;
    color: #fff;
    text-shadow: 4px 6px 2px rgba(0, 0, 0, 0.6);
  }
}
