@import '../styles/variables';

.about {
  margin: 0 auto 6.5rem;
  padding: 0 5%;
  max-width: 120rem;

  h2 {
    margin-bottom: 3.5rem;
  }
}

.myImage {
  margin: 2rem auto;
  width: 50%;
  max-width: 800px;
  box-shadow: 0.4rem 0.5rem 0.3rem rgba(0, 0, 0, 0.6);
  border-radius: 2rem;
}

.portfolio {
  padding: 6rem 0;

  h2 {
    color: $blue;
  }
}

.container {
  margin: 0 auto;
  width: 80%;
}
